input {
  display: inline;
  width: auto;
  min-width: 0;
}

.titleContainer {
  border-top: 1px solid #151515;
  border-bottom: 1px solid #151515;
  padding-top: 10px;
  padding-bottom: 10px;
}

.importName {
  font-size: 11px;
}

.fileName {
  margin-top: 2px;
}

.form-container {
  position: fixed;
  left: 0px;
  width: 300px;
  background: rgb(29, 31, 33);
  bottom: 0px;
  top: 0px;
  z-index: 98;
  padding: 20px;
  color: #fff;
  overflow: hidden;
  overflow-y: scroll;
}

.form-container label {
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.form-container input {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 3px 5px;
  font-size: 13px;
}

.form-container label span {
  width: 100px;
  display: block;
}

.menuButton {
  position: fixed;
  z-index: 99;
  background-color: white;
  top: 0px;
}

.results-container {
  color: #fff;
  background: rgb(29, 31, 33);
  position: fixed;
  right: 0px;
  width: 300px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px;
}

*::-webkit-scrollbar {
  display: none;
}
